// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.cars {
  // Add the cars class to your body tag
  // Then, place scoped styles here.
}

#main {
  height: 100%;
  width: auto;


  h1 {
    font-size: 25;
    margin: 20px 20 10 0;
    text-align: center;
  }
  table tr th {
    font-size: 12;
    border-size: 1;
    border-color: black;
    padding: 20 0px 20 20;

  }
}

a {
  padding: 20px;
} 
  
