// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cars table tbody {
    border: 2px solid;
    border-width: 1px;
    padding: 0 5px 5 5;
    tr th {
        font-size: 12px;

        text-shadow: 1px 1px 1px white;  
        border: 2px solid;
        border-width: 1px;
        padding: 0 5px 5 5;
 }
}



 
