// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.messages {
  // Add the messages class to your body tag
  // Then, place scoped styles here.
	.message_table {
		margin-bottom: 1.5em;
		width: 60%;
		td {
			padding-top: 0.1em;
			padding-bottom: 0.1em;
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
		.message_table_left {
		}
		.message_table_right {
			text-align: right;
		}
		.message_table_both {
		}
		tr:first-child {
			background-color: #777777;
			font-weight: bold;
		}
		tr:nth-child(2) {
			background-color: #AAAAAA;
			border-top: solid 1px;
			td {
				padding-top: 0.3em;
				padding-bottom: 0.3em;			
			}
		}
		tr:last-child {
			text-align: right;
		}
	}
}
