// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.messages {
  // Add the messages class to your body tag
  // Then, place scoped styles here.
	#main {
		.form_table {
			width: 70%;
			.form_table_both {
				textarea {
					width: 100%;
				}
				input {
					width: 100%;
				}
			}
			.form_table_right {
				text-align: right;
			}
		}
		.other_site {
			width: 70%;
			text-align: right;
			margin-top: -2em;
			margin-bottom: 1em;
			a {
				margin-right: 0.5em;
			}
		}
		.message_table {
			table-layout: fixed;
			margin: 0;
			margin-bottom: 1.5em;
			width: 70%;
			word-wrap: break-word;
			td {
				padding-top: 0.1em;
				padding-bottom: 0.1em;
				padding-left: 0.5em;
				padding-right: 0.5em;
			}
			.message_table_left {
			}
			.message_table_right {
				text-align: right;
			}
			.message_table_both {
			}
			tr:first-child {
				background-color: #777777;
				border-bottom: solid 1px;
				font-weight: bold;
				.message_table_right {
					width: 12em;
				}
			}
			tr:nth-child(2) {
				background-color: #DDDDDD;
				td {
					padding-left: 0.5em;
					padding-right: 0.5em;
					padding-top: 0.5em;
					padding-bottom: 0;
					div {
						padding-left: 0.5em;
						padding-right: 0.5em;
						background-color: #AAAAAA;
						span {
							font-weight: bold;
						}
					}
				}
			}
			tr:nth-child(3) {
				background-color: #DDDDDD;
				td {
					text-align: justify;
					padding-top: 0.3em;
					padding-bottom: 0.3em;
					padding-left: 0.8em;
					padding-right: 0.8em;
				}
			}
			tr:last-child {
				text-align: right;
			}
		}
	}
}
